<% content_for :title, "Editing extension" %>

<h1>Editing extension</h1>

<%= render "form", extension: @extension %>

<br>

<div>
  <%= link_to "Show this extension", @extension %> |
  <%= link_to "Back to extensions", extensions_path %>
</div>
